.mainSection {
  display: flex;
  min-height: 82dvh;
  max-height: 82dvh;
  margin-top: 1.5em;
  gap: 1em;
}

.content {
  display: flex;
  gap: 2em;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  width: 70%;
  padding: 10px;
  overflow-y: auto;
}

.movieItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  flex-grow: 1;
  padding: 60px 25px 60px 25px;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  color: black;
}

.movieDescription {
  word-wrap: break-word;
  text-align: center;
}

.expanded {
  min-height: 250px;
  height: auto;
}

.movieActions {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-top: 5px;
}

.sideSearchBar {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  width: 30%;
}

@media (max-width: 1320px) {
  .movieItem {
    width: 40%;
  }

  .content {
    gap: 2em;
    justify-content: center;
  }
}

@media (max-width: 1035px) {
  .mainSection {
    flex-direction: column;
  }

  .content {
    width: 100%;
  }

  .movieItem {
    width: 80%;
    margin-right: 20px;
  }

  .sideSearchBar {
    width: 100%;
  }
}

@media (max-width: 468px) {
  .movieItem {
    margin-left: 20px;
  }
}
