.mainSection {
  display: flex;
  min-height: 82dvh;
  max-height: 82dvh;
  margin-top: 1.5em;
  gap: 1em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding: 10px;
  overflow-y: scroll;
}

.movieItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  color: black;
  height: 30%;
  align-items: center;
  width: 20%;
  padding: 10px;
  margin-top: 1em;
}

.movieActions {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-top: 5px;
}

.sideSearchBar {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  width: 30%;
}

@media (max-width: 768px) {
  .mainSection {
    flex-direction: column;
  }

  .content {
    width: 100%;
  }

  .movieItem {
    width: 100%;
    margin-right: 20px;
  }

  .sideSearchBar {
    width: 100%;
  }
}

@media (max-width: 468px) {
  .content {
    width: 100%;
  }
}
