.button {
  background-color: #3490dc;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.button.editButton:hover {
  background-color: #e77b00;
}

.button.deleteButton:hover {
  background-color: #9b0202;
}
